node_modules
dist
build
.vite

backend/server
backend/*.exe
backend/go.sum
backend/vendor

sensor-simulator/logs
sensor-simulator/__pycache__
sensor-simulator/*.pyc
sensor-simulator/.venv

database/*.log
*.pid

.env.local
.docker-data
monitoring/grafana/provisioning

.idea
.vscode
.DS_Store
